Partial_14Dec2021/force-app/main/default/flows/cp_survey_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_006af5bd_1fe9_4c30_9f78_3da1c9944a8c</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_018a2c18_ea29_47b5_a7a9_faadc45acbe0</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_03281b37_0daa_4d96_9f0f_fad3f83f26d2</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_04786743_1b35_4eeb_a2ad_a801ff4ac699</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_049b8e42_4bdf_41fc_9664_eb99ede9fc06</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0735cb46_b421_420b_8231_4f69c81f787b</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0b7e17ed_c7c2_4a52_889a_dcdd887d999c</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0dfa6ca8_45c4_4955_97ca_51972e71517f</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0e38e1c7_c99d_42ea_8bb9_b6d6173ec1ad</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_0fc23a05_02ea_4192_a4d2_e6df23dc7014</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1025aac9_766a_4cac_8cb3_c42124269d6d</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_124b15a3_31f6_454c_ae22_be60a7e1950b</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1513a234_efff_4cce_9259_b80740aa5ac9</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_15b91b81_8d2a_4cf5_b695_5be4b4ae6ba8</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_16c654c4_d317_4157_9e20_cd60e81288bc</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b60b2a8_f045_4444_a9ca_3fd5c71b71f6</name>
        <choiceText>NO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NO</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1b805ba8_0339_4d29_9d49_b6f4f5a0b7ed</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_1fc5e8ae_5333_4cfe_b61f_450e823f91e6</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_213981bb_85fa_4fd2_a556_3c5bbb725e33</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_241bb840_4a99_42f9_a3cc_33443d232ae3</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_26db81d6_98db_472c_a555_d3b3a02db23d</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_331e935e_997a_473e_9855_28f44478aa64</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_373f11fd_2b46_4afd_917f_b434a1eb3f25</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3836c3d3_41c4_4659_81f2_84c4c0b5554f</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3b8012bc_ec1c_4ebe_bdcc_719f58834d53</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e4a361f_a3c3_4eb2_ac45_01addc8aa813</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3e85eaf0_95d5_43a4_9ded_e5bce543eb61</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3edf7397_420b_48ac_9ed5_a08e321d32f3</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_3fc34585_cace_4e4d_845b_b005380492c1</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_40a5e4e2_ef48_4b81_af08_d57f1a7286f4</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_449d0eb8_484e_413f_a278_68dbfd4604c2</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_452c5548_9631_4ff5_aa0a_fbb01fda9231</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a6ecd30_091e_4cf4_9d1c_a3256b522144</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4a7b485c_5da7_4935_b4e5_d93112d86faa</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4db0c2e9_6f6f_4ca0_95d1_c71eb7194aeb</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_4f845127_9895_44c2_8826_fbd35de38bcf</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_52057717_d242_4057_ace6_5c434013e060</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5395147a_3838_4ce9_9339_3692599b6777</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c743ed4_cc60_4a24_b6cc_cc5c82ca7e67</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_5c88d18b_e484_4b96_b31d_8d467e8f1ac6</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_605ee4d7_4736_4083_b5ac_72da126248a5</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_615773df_bca2_4409_92d9_25f3d3c8eb64</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_66e831af_2a1c_4eef_89a5_e479d6272b1c</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6753e286_2142_4361_8b88_dccd62546d24</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_67fcff57_caec_44fb_84ae_1b324763f787</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6b7f478e_948e_4d2c_b459_b134f8c16f17</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6bd49fca_e899_4990_8232_85c4f2bd0617</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_6f8beed1_834e_41ed_bfb2_c7b6f82d9883</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_700433d4_1285_4988_a60e_f584a9ee8061</name>
        <choiceText>YES</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>YES</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_78e6faee_8df0_41f9_af82_473ae2153a78</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7c6db493_c0d5_4e7d_b771_65000a31f8cf</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7d4ea9e5_f687_4c75_b307_5e274a880064</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_7e6d49fb_0e79_439a_94d2_d0bb55f6f186</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8161ea8b_54e6_434a_b61e_26ea35329d80</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_841baaf8_e198_4f61_9987_9263bd10c4aa</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8474d949_0930_46c8_96c7_448da7535c95</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8a368a67_1fd8_400d_b3f3_4087f5099772</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d0d7382_4f8f_46ba_9477_5f3073c8b5ea</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8d71b874_24fd_4620_bd85_e45de4433bb8</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8debece1_e0fd_44e5_92a6_1e405a35fc04</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_8dee2ac2_dd91_4d36_b9ab_be1b64de2e11</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_912921f6_d383_4b5e_aff9_105dd912f327</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_91fd2138_ab87_4519_bc2e_faf1a65b7237</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94b6d806_fdcd_45c4_9d58_22292f803718</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_94d504da_b579_415b_bf0a_cb066f92622e</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9bcee50a_9120_4c24_bb84_360b79fa27b2</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9d3820b4_4d8d_4a1a_ab2a_9a435e3e4cee</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9dd7d71d_ac53_4121_a230_5cdb394c9858</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_9ee52769_cf63_48ba_8ba0_04d4e0309054</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a1bd807a_a30f_4129_b1b6_36552dcc0e45</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a1d99490_b5d9_4ad9_8aab_db2cdcd06af2</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a4569e12_6819_4542_93a3_f47fcf903e70</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a6609bd2_0784_4370_b194_2f3e49aa7942</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_a8e6d213_cb4d_4a85_8e10_0372351da7d0</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_add658f1_9a42_4a9e_b6ff_1e51c6f9959d</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ae840312_ada8_4246_95b2_215a310bb093</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_afc3f9d6_1426_44c6_b9c2_b5982b985e94</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b0f1ef9a_b68a_4a7a_aa1e_6aeb5e812cf2</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_b622a7ba_9588_498d_9482_58fc7f4e7a2b</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ba3db267_d022_49f0_8bc0_3e0e9a55ce95</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bbd4c68f_8ac5_4d0a_b434_bf8bf7457ec3</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bd752bd8_e0bb_47ab_8b39_b2c707515372</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_bde122ae_27fb_4fe2_b3bd_ca3a33eba284</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c485e50c_7de2_43c7_be9f_3d776f6a0172</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c4e8b5be_e8d5_4034_8094_5f1837a94836</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c6281878_8b9f_4343_bf63_e37deddbfd90</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_c701f765_4207_4ab7_844a_c2a9cb8d04ff</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ceefaec3_a785_4d9a_a90a_155ea98eda5b</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d39c11c9_c26c_41f4_9315_931979e9e6a1</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d3a9692c_4bab_4a85_9f38_ec6589dd5e43</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d6cb2f82_bf8b_4067_b04a_141ac627f436</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_d72b2e68_0863_4c7a_be8f_3680dee70088</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_def6e7cc_3c20_4405_a0b1_c38af5954218</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e125494e_8934_4b05_9f03_829daa63b84a</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_e7353906_e48a_4612_9ea7_4be25b7df64e</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera </stringValue>
        </value>
    </choices>
    <choices>
        <name>c_ea4362da_7d98_4d91_9e3b_8f252cba54c1</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0665ecb_d741_4d96_9167_d11cf3b5e924</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f08212eb_7edd_4a9a_a623_abd1be8960cf</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f0e19674_dfa3_4073_aec8_6c9e9ce54a6e</name>
        <choiceText>Customer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Customer</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1c551c7_5747_4eef_899b_f864ae5ed883</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f1e1b03c_da36_47bf_8362_75cc975d4af4</name>
        <choiceText>Plumber/ Plumbing contractor</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Plumber/ Plumbing contractor</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f6afb877_4da0_4492_9e81_978a4444c80e</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_f76c73d5_8dc0_4980_9981_180afd5ad9a9</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>c_fedbbbfe_3840_4155_b809_c460c3e38cdc</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_04eed826_25bc_43dc_aac5_3c0dd1df397c</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_0bb882c8_d7c0_49d2_8f78_78e10549e49b</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_0fdd1cc5_f32a_477b_9151_8792e43b6e33</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_1785e10c_f0c9_45fe_ba3e_06eb73813cb5</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_19a0488b_2e92_475f_b0fd_52f6088a05a0</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_1ae03c0d_0d2a_4a05_bda2_8d031a16310a</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_1cba5bcb_df9a_4026_af67_c4cddc9ee589</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2117d441_12a5_4600_8f99_c68cfe83f390</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_238c3833_964c_4d2b_ad1e_fb9bfce8e931</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_26d20892_68d4_48da_9333_99b10746c457</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2812551e_bcf3_4464_961c_2c940cd8bca0</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2adf2b38_21cb_467c_bb48_e4d58c43af14</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2d043b43_04ee_4dae_ad1d_9b8663a7ff80</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_2d15cdb1_79a0_4203_93bf_fceee521879a</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_31222798_fbad_4c02_96cf_1d5de1cd830b</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera </stringValue>
        </value>
    </choices>
    <choices>
        <name>S_31feef03_7204_416b_b0be_8680d7f655cd</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_358d16fa_b24b_497e_8175_1b982540e42f</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_35b32689_6496_4c02_957a_878b024247ec</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_3ad49116_546a_4a71_927e_06bc3ce8a7a5</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera </stringValue>
        </value>
    </choices>
    <choices>
        <name>S_41596b59_7a2c_49eb_b792_b1f06965f140</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_44f6b317_ec7d_4cb5_a07a_e2b38d8dde6c</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_4698ac74_355d_45b1_9388_6dad96456a19</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_47ff6470_566d_4112_8817_10df6c3f688d</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_48338adf_fbfb_4f28_93ab_227a544b9e92</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_494ddd2d_6198_43c0_80d9_157b74dd0949</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_4b47b804_dd15_4f95_b80d_d426ef3a69bc</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_4eef6ba1_126a_4c47_bbd3_d0b9ad0b9ca8</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_532a711e_3238_41d8_97f9_860b2cd3bfba</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_55702038_8de9_434a_8d27_83ffcd0bc125</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_5824f534_8772_4611_8df0_d370f7365b3f</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_5de77863_2662_4553_87b7_a5f7e2b3320b</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_5e0ab8c6_6573_4226_a77f_a4e00dc1bcbe</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_62456e42_52a6_4cc4_b4c2_e138c4491601</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_66dfd17c_3b5e_4aeb_b9e5_bfff4e85072e</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_69da9dde_7559_4fa3_8ab7_260dd9de35e5</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_6c682bf1_145b_43e7_84e3_c2e397f56fb2</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_6ee8c418_9e93_4068_a499_764049fa0fd5</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_82973d06_6171_4edb_9096_ecfa342e0e0c</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_8301bd30_b1a1_4d09_b3db_3ef76648b6ab</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_840a4850_d8bf_4bbb_8255_144839eaf72f</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_844e7e72_a2dd_4788_aa04_95e3690e41f1</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_84dfb0e8_bdec_4fff_a4ec_a6120b8e8215</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_87e7f0b7_0287_4a2d_a6ca_871b14b42030</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_8869cbb9_d7b4_4248_84c7_7da53ec593a3</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_8ed8e897_0bd8_4726_92a2_e02ead6a2553</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_91c71ba1_2223_4da1_b1a4_68edbed86af2</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_93537afa_0c26_4f0b_b303_d42064d9081a</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_959db540_c80f_4943_8161_f694261ff720</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_998fee56_3780_45ba_8a2c_b7401de237ef</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_9b5b3f73_ccc3_4d3e_9b3e_38be7015989b</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_a0bd6695_105c_4de9_a3b6_a66626f9e494</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_a433f2fc_5730_4365_9f6b_d3c0097f8b0c</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_a714b888_cf9a_4abd_9983_d13977c1b0be</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_a9abf585_9a98_4d2a_a496_5077265acc10</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ac04402f_7300_4951_aaa2_15553188ad57</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera </stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ac5871cd_c353_410d_adc5_574f7a700ab4</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_b23cfa4c_5685_4b4b_a37b_9598251e85af</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_b39269d0_d605_4bf1_9506_6ea1c9825505</name>
        <choiceText>ParryWare</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ParryWare</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_b5dd9d7a_8b64_4a08_912b_48d99ce7f2ff</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_b81c0c93_24c7_437c_9f00_34bf1d697487</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_bc9b0c4d_e00b_4ca9_8cc2_67eba3125573</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_be58d3d1_35ea_4cac_acfb_f94e6f3bb292</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c0bb3899_9f39_4f8a_90ad_45ffa51a0b5a</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c0e2df98_d96c_4322_901c_91d8435c3ec7</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c2e0273d_e005_4999_9562_d23892b105fa</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c37589b3_9559_4d09_a2d9_0cf98ca8e8cc</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c4d0afff_44c7_4928_bee9_4191a791d4d6</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_c6604778_2dee_4c4a_b285_79e83ff6d008</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ccaee5a5_3e5c_4b92_aed4_690f2e91bcff</name>
        <choiceText>Cera</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cera</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_d06e380f_9a87_4ae9_81f8_696ad9906a56</name>
        <choiceText>Ashirvad</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ashirvad</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_d5ebeda5_301c_410f_a536_5fd5107d8840</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_e9bead2d_c9ec_4172_9e24_738cdce6111c</name>
        <choiceText>Kohler</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kohler</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ea1d5ec1_3338_479c_9c5d_08aa2b9b1450</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_eb3de769_6300_40bf_baed_ec136b1253c6</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ed8f38c4_9b59_4fd4_8fea_e5c365424995</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_ef96bd33_349b_458a_97ac_024e9b64a2e9</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f062edeb_dbc2_4bff_8353_240596e79a37</name>
        <choiceText>Hindware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Hindware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f162cd7f_2174_4ab9_a50a_bd5aba7fefaa</name>
        <choiceText>Essco</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Essco</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f6429c7a_b06d_4458_abb5_b2f849f3a0c7</name>
        <choiceText>Other</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_f88f7095_f391_4d19_8c29_4cf7e59a0915</name>
        <choiceText>Parryware</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Parryware</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_fa45fac4_059b_46a7_8491_491285a453fd</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <choices>
        <name>S_fec6e1f9_ef20_40ec_947a_fb7d2dd45330</name>
        <choiceText>Jaquar</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Jaquar</stringValue>
        </value>
    </choices>
    <interviewLabel>CP SURVEY FORM</interviewLabel>
    <label>CP SURVEY FORM</label>
    <processMetadataValues>
        <name>BrandingSet</name>
        <value>
            <stringValue>survey_2611d957_619f_42bc_ae78_3af88185d69f</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_059abae5_4dc3_46b8_9878_72437b002ce0</name>
        <label>3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_151333ac_dab0_4923_952c_eeeb1af13cd0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a88dc335_a5c9_4692_b024_872e3d60d597</name>
            <choiceReferences>S_5824f534_8772_4611_8df0_d370f7365b3f</choiceReferences>
            <choiceReferences>S_19a0488b_2e92_475f_b0fd_52f6088a05a0</choiceReferences>
            <choiceReferences>S_c4d0afff_44c7_4928_bee9_4191a791d4d6</choiceReferences>
            <choiceReferences>S_3ad49116_546a_4a71_927e_06bc3ce8a7a5</choiceReferences>
            <choiceReferences>S_2117d441_12a5_4600_8f99_c68cfe83f390</choiceReferences>
            <choiceReferences>S_840a4850_d8bf_4bbb_8255_144839eaf72f</choiceReferences>
            <choiceReferences>S_f6429c7a_b06d_4458_abb5_b2f849f3a0c7</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Flush valve *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_34cd49fd_8bc1_4514_b464_fadb9c81ecb6</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Flush valve) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_a88dc335_a5c9_4692_b024_872e3d60d597</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_f6429c7a_b06d_4458_abb5_b2f849f3a0c7</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b7871720_d0ab_4533_826c_fee14567f324</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Flush valve&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cc90d42d_49e3_40ec_b5be_af70898b8f82</name>
            <choiceReferences>S_9b5b3f73_ccc3_4d3e_9b3e_38be7015989b</choiceReferences>
            <choiceReferences>S_238c3833_964c_4d2b_ad1e_fb9bfce8e931</choiceReferences>
            <choiceReferences>S_0fdd1cc5_f32a_477b_9151_8792e43b6e33</choiceReferences>
            <choiceReferences>S_8869cbb9_d7b4_4248_84c7_7da53ec593a3</choiceReferences>
            <choiceReferences>S_82973d06_6171_4edb_9096_ecfa342e0e0c</choiceReferences>
            <choiceReferences>S_62456e42_52a6_4cc4_b4c2_e138c4491601</choiceReferences>
            <choiceReferences>S_5e0ab8c6_6573_4226_a77f_a4e00dc1bcbe</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Calibri, sans-serif; font-size: 14px;&quot;&gt;Bottle trap *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a084360e_1cdf_4d3b_9787_67e47b4fcc88</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Bottle trap) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_cc90d42d_49e3_40ec_b5be_af70898b8f82</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_5e0ab8c6_6573_4226_a77f_a4e00dc1bcbe</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d72f0a6b_94ee_45c6_b211_d05b44396848</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Bottle trap&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_151333ac_dab0_4923_952c_eeeb1af13cd0</name>
        <label>4</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ffff4365_f146_4b80_8d19_87ddd65aa5ff</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e1dae5bd_9dcc_458f_bcdf_47a733ed3a00</name>
            <choiceReferences>S_84dfb0e8_bdec_4fff_a4ec_a6120b8e8215</choiceReferences>
            <choiceReferences>S_93537afa_0c26_4f0b_b303_d42064d9081a</choiceReferences>
            <choiceReferences>S_ed8f38c4_9b59_4fd4_8fea_e5c365424995</choiceReferences>
            <choiceReferences>S_ac04402f_7300_4951_aaa2_15553188ad57</choiceReferences>
            <choiceReferences>S_eb3de769_6300_40bf_baed_ec136b1253c6</choiceReferences>
            <choiceReferences>S_ea1d5ec1_3338_479c_9c5d_08aa2b9b1450</choiceReferences>
            <choiceReferences>S_8301bd30_b1a1_4d09_b3db_3ef76648b6ab</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Waste coupling *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_db8c36f9_7804_4c8e_8df3_14e0176c7509</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Waste coupling) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_e1dae5bd_9dcc_458f_bcdf_47a733ed3a00</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_8301bd30_b1a1_4d09_b3db_3ef76648b6ab</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dd5b0fb2_7c47_411e_bd40_bb935143362c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Waste coupling&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7dcb0d0d_9cfc_4e76_9d1d_d3a021a87707</name>
            <choiceReferences>S_4698ac74_355d_45b1_9388_6dad96456a19</choiceReferences>
            <choiceReferences>S_c37589b3_9559_4d09_a2d9_0cf98ca8e8cc</choiceReferences>
            <choiceReferences>S_358d16fa_b24b_497e_8175_1b982540e42f</choiceReferences>
            <choiceReferences>S_31feef03_7204_416b_b0be_8680d7f655cd</choiceReferences>
            <choiceReferences>S_2adf2b38_21cb_467c_bb48_e4d58c43af14</choiceReferences>
            <choiceReferences>S_44f6b317_ec7d_4cb5_a07a_e2b38d8dde6c</choiceReferences>
            <choiceReferences>S_87e7f0b7_0287_4a2d_a6ca_871b14b42030</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Pan connector *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ede49ee4_0ecc_4756_a103_70f79a819729</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Pan connector) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_7dcb0d0d_9cfc_4e76_9d1d_d3a021a87707</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_87e7f0b7_0287_4a2d_a6ca_871b14b42030</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_043e74e2_8f33_4dba_a4d9_d4cababa2fc0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Pan connector&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_30bc1a88_0f01_4d29_9673_09e620c76797</name>
        <label>Page 11</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_77f43bb9_2b9e_4bc3_b033_99444fd1ab16</name>
            <choiceReferences>c_0b7e17ed_c7c2_4a52_889a_dcdd887d999c</choiceReferences>
            <choiceReferences>c_3e4a361f_a3c3_4eb2_ac45_01addc8aa813</choiceReferences>
            <choiceReferences>c_006af5bd_1fe9_4c30_9f78_3da1c9944a8c</choiceReferences>
            <choiceReferences>c_373f11fd_2b46_4afd_917f_b434a1eb3f25</choiceReferences>
            <choiceReferences>c_124b15a3_31f6_454c_ae22_be60a7e1950b</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;13. Please rank the decision factors in CP purchasing for the customer in order of importance&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i&gt;(5 - most important; 1 - least important)&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Features *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_009dcd87_1b5f_4080_8d50_a2538062b0f6</name>
            <choiceReferences>c_fedbbbfe_3840_4155_b809_c460c3e38cdc</choiceReferences>
            <choiceReferences>c_a6609bd2_0784_4370_b194_2f3e49aa7942</choiceReferences>
            <choiceReferences>c_c485e50c_7de2_43c7_be9f_3d776f6a0172</choiceReferences>
            <choiceReferences>c_c701f765_4207_4ab7_844a_c2a9cb8d04ff</choiceReferences>
            <choiceReferences>c_615773df_bca2_4409_92d9_25f3d3c8eb64</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Price *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d4c7c291_65e7_4127_a361_0be6074bc030</name>
            <choiceReferences>c_b0f1ef9a_b68a_4a7a_aa1e_6aeb5e812cf2</choiceReferences>
            <choiceReferences>c_03281b37_0daa_4d96_9f0f_fad3f83f26d2</choiceReferences>
            <choiceReferences>c_bd752bd8_e0bb_47ab_8b39_b2c707515372</choiceReferences>
            <choiceReferences>c_8d0d7382_4f8f_46ba_9477_5f3073c8b5ea</choiceReferences>
            <choiceReferences>c_0e38e1c7_c99d_42ea_8bb9_b6d6173ec1ad</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Brand *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5d087e28_8951_44d4_be21_7e8c0759254c</name>
            <choiceReferences>c_6f8beed1_834e_41ed_bfb2_c7b6f82d9883</choiceReferences>
            <choiceReferences>c_4a6ecd30_091e_4cf4_9d1c_a3256b522144</choiceReferences>
            <choiceReferences>c_a1d99490_b5d9_4ad9_8aab_db2cdcd06af2</choiceReferences>
            <choiceReferences>c_ea4362da_7d98_4d91_9e3b_8f252cba54c1</choiceReferences>
            <choiceReferences>c_213981bb_85fa_4fd2_a556_3c5bbb725e33</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Service network *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_805cd48c_16e3_4197_bff7_82fec63e9a04</name>
            <choiceReferences>c_d39c11c9_c26c_41f4_9315_931979e9e6a1</choiceReferences>
            <choiceReferences>c_b622a7ba_9588_498d_9482_58fc7f4e7a2b</choiceReferences>
            <choiceReferences>c_40a5e4e2_ef48_4b81_af08_d57f1a7286f4</choiceReferences>
            <choiceReferences>c_9bcee50a_9120_4c24_bb84_360b79fa27b2</choiceReferences>
            <choiceReferences>c_7c6db493_c0d5_4e7d_b771_65000a31f8cf</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Easy installation *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cffa94da_8be4_4d8e_8f79_379188b90722</name>
            <choiceReferences>c_16c654c4_d317_4157_9e20_cd60e81288bc</choiceReferences>
            <choiceReferences>c_8debece1_e0fd_44e5_92a6_1e405a35fc04</choiceReferences>
            <choiceReferences>c_04786743_1b35_4eeb_a2ad_a801ff4ac699</choiceReferences>
            <choiceReferences>c_6bd49fca_e899_4990_8232_85c4f2bd0617</choiceReferences>
            <choiceReferences>c_452c5548_9631_4ff5_aa0a_fbb01fda9231</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Product warranty *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_2782c3eb_c6ae_4572_bdf1_f9fc0680f4c0</name>
            <choiceReferences>c_66e831af_2a1c_4eef_89a5_e479d6272b1c</choiceReferences>
            <choiceReferences>c_d6cb2f82_bf8b_4067_b04a_141ac627f436</choiceReferences>
            <choiceReferences>c_f1c551c7_5747_4eef_899b_f864ae5ed883</choiceReferences>
            <choiceReferences>c_5c743ed4_cc60_4a24_b6cc_cc5c82ca7e67</choiceReferences>
            <choiceReferences>c_afc3f9d6_1426_44c6_b9c2_b5982b985e94</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Matching with wash basin/ sanitary products *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_490541bc_8f97_4bb1_ac67_23e3da05cd63</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 17px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If there is any other key factor, please mention the same(&lt;/b&gt;&lt;b&gt;CP purchasing&amp;nbsp;)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_6e6177d9_39bd_4149_abd0_27701a1b6de2</name>
        <label>6</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_978caaa7_c3bc_4765_a3dd_5b3ec1f3f687</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_8dea1e5f_2427_4074_9a3c_2fc03eb39316</name>
            <choiceReferences>S_fa45fac4_059b_46a7_8491_491285a453fd</choiceReferences>
            <choiceReferences>S_8ed8e897_0bd8_4726_92a2_e02ead6a2553</choiceReferences>
            <choiceReferences>S_b81c0c93_24c7_437c_9f00_34bf1d697487</choiceReferences>
            <choiceReferences>S_f88f7095_f391_4d19_8c29_4cf7e59a0915</choiceReferences>
            <choiceReferences>S_4b47b804_dd15_4f95_b80d_d426ef3a69bc</choiceReferences>
            <choiceReferences>c_3836c3d3_41c4_4659_81f2_84c4c0b5554f</choiceReferences>
            <choiceReferences>c_018a2c18_ea29_47b5_a7a9_faadc45acbe0</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Spout *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_fca275d1_1aa0_4c33_8ed0_30e4a9bc0cd1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Spout) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_8dea1e5f_2427_4074_9a3c_2fc03eb39316</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_018a2c18_ea29_47b5_a7a9_faadc45acbe0</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_30d48a2b_38ab_4878_a20c_f24d3dc40679</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Spout&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e946a2fa_4361_4e42_a662_e9f3a70fbcb2</name>
            <choiceReferences>S_91c71ba1_2223_4da1_b1a4_68edbed86af2</choiceReferences>
            <choiceReferences>S_be58d3d1_35ea_4cac_acfb_f94e6f3bb292</choiceReferences>
            <choiceReferences>S_b23cfa4c_5685_4b4b_a37b_9598251e85af</choiceReferences>
            <choiceReferences>S_2d043b43_04ee_4dae_ad1d_9b8663a7ff80</choiceReferences>
            <choiceReferences>S_f062edeb_dbc2_4bff_8353_240596e79a37</choiceReferences>
            <choiceReferences>S_1785e10c_f0c9_45fe_ba3e_06eb73813cb5</choiceReferences>
            <choiceReferences>S_c6604778_2dee_4c4a_b285_79e83ff6d008</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Shower head *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_aaba7f22_cf3f_4032_997d_b2d7040b8ccd</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Shower head) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_e946a2fa_4361_4e42_a662_e9f3a70fbcb2</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_c6604778_2dee_4c4a_b285_79e83ff6d008</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_4d4d2ef9_1f4b_422f_a3c0_6693999c11e4</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Shower head&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_beb79da0_c79f_4dc5_9fca_5725c4dfa2af</name>
            <choiceReferences>c_0735cb46_b421_420b_8231_4f69c81f787b</choiceReferences>
            <choiceReferences>c_94d504da_b579_415b_bf0a_cb066f92622e</choiceReferences>
            <choiceReferences>c_912921f6_d383_4b5e_aff9_105dd912f327</choiceReferences>
            <choiceReferences>c_0fc23a05_02ea_4192_a4d2_e6df23dc7014</choiceReferences>
            <choiceReferences>c_4a7b485c_5da7_4935_b4e5_d93112d86faa</choiceReferences>
            <choiceReferences>c_67fcff57_caec_44fb_84ae_1b324763f787</choiceReferences>
            <choiceReferences>c_def6e7cc_3c20_4405_a0b1_c38af5954218</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Health faucet *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dd9a8f28_0b30_4604_a50b_b8aae8408945</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(Health faucet) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_beb79da0_c79f_4dc5_9fca_5725c4dfa2af</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_def6e7cc_3c20_4405_a0b1_c38af5954218</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b0d37c2c_3138_46bd_8824_a3b370e9d5b9</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Health faucet&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_938199f7_d533_479f_8f3a_e909e2c98afe</name>
        <label>CP Survey 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ce2fa1b3_747f_4c67_b6e9_d469e4f283e6</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_f5c79199_6267_44ef_9d25_62b0ed14a1af</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;1.Dealer name&amp;nbsp; *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cf3836e2_ce11_44a6_b673_256c7e028424</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;2.Dealer location (Address, District, State)  *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_cebbe449_9744_44c8_9467_aa452dd6f23c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;3.Dealer contact no.&amp;nbsp;*&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_87b3f861_8c2d_4d82_ae7c_1c694a555ee5</name>
            <choiceReferences>c_0dfa6ca8_45c4_4955_97ca_51972e71517f</choiceReferences>
            <choiceReferences>c_241bb840_4a99_42f9_a3cc_33443d232ae3</choiceReferences>
            <choiceReferences>c_bde122ae_27fb_4fe2_b3bd_ca3a33eba284</choiceReferences>
            <choiceReferences>c_e7353906_e48a_4612_9ea7_4be25b7df64e</choiceReferences>
            <choiceReferences>c_d72b2e68_0863_4c7a_be8f_3680dee70088</choiceReferences>
            <choiceReferences>c_5395147a_3838_4ce9_9339_3692599b6777</choiceReferences>
            <choiceReferences>c_f0665ecb_d741_4d96_9167_d11cf3b5e924</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;4.Please select the brand most in demand for the following products &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Concealed valve *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_660ffd0a_f64f_437a_85a6_a7d9339e78e7</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Concealed valve) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_87b3f861_8c2d_4d82_ae7c_1c694a555ee5</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_f0665ecb_d741_4d96_9167_d11cf3b5e924</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7b43bd12_b15e_41f2_9f8d_adf4931a1ac0</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Concealed valve for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_978caaa7_c3bc_4765_a3dd_5b3ec1f3f687</name>
        <label>7</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_f6b3abf8_1cc0_411b_beb6_8b36be09c30a</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_a238917a_0d98_47e7_9322_cf5b48d2b5d8</name>
            <choiceReferences>S_a433f2fc_5730_4365_9f6b_d3c0097f8b0c</choiceReferences>
            <choiceReferences>S_55702038_8de9_434a_8d27_83ffcd0bc125</choiceReferences>
            <choiceReferences>S_959db540_c80f_4943_8161_f694261ff720</choiceReferences>
            <choiceReferences>S_47ff6470_566d_4112_8817_10df6c3f688d</choiceReferences>
            <choiceReferences>S_5de77863_2662_4553_87b7_a5f7e2b3320b</choiceReferences>
            <choiceReferences>S_2812551e_bcf3_4464_961c_2c940cd8bca0</choiceReferences>
            <choiceReferences>S_a714b888_cf9a_4abd_9983_d13977c1b0be</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Wall mixer *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_438ccfa2_37d3_41f0_8ef7_35fb0e1add52</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;If selected &apos;Other&apos;, please mention the brand&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Wall mixer) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_a238917a_0d98_47e7_9322_cf5b48d2b5d8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_a714b888_cf9a_4abd_9983_d13977c1b0be</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_254f3cc5_a9b0_4a56_b729_5a7672d81e5c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Wall mixer&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_68cfd8ce_5899_4aa2_9092_6b6160b32f6f</name>
            <choiceReferences>S_fec6e1f9_ef20_40ec_947a_fb7d2dd45330</choiceReferences>
            <choiceReferences>S_c2e0273d_e005_4999_9562_d23892b105fa</choiceReferences>
            <choiceReferences>S_0bb882c8_d7c0_49d2_8f78_78e10549e49b</choiceReferences>
            <choiceReferences>S_26d20892_68d4_48da_9333_99b10746c457</choiceReferences>
            <choiceReferences>S_ac5871cd_c353_410d_adc5_574f7a700ab4</choiceReferences>
            <choiceReferences>S_e9bead2d_c9ec_4172_9e24_738cdce6111c</choiceReferences>
            <choiceReferences>S_c0bb3899_9f39_4f8a_90ad_45ffa51a0b5a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Wash basin mixer/ tap *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_be386c63_bcce_41f4_acf0_04dfd1f89fb2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(Wash basin mixer/ tap&lt;/b&gt;&lt;b&gt;) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_68cfd8ce_5899_4aa2_9092_6b6160b32f6f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_c0bb3899_9f39_4f8a_90ad_45ffa51a0b5a</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_209961d8_d25e_482f_8d3f_689e139a9a36</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Wash basin mixer/ tap&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_98e6ccb2_749d_4508_a5fa_602343275777</name>
            <choiceReferences>S_bc9b0c4d_e00b_4ca9_8cc2_67eba3125573</choiceReferences>
            <choiceReferences>S_1ae03c0d_0d2a_4a05_bda2_8d031a16310a</choiceReferences>
            <choiceReferences>S_494ddd2d_6198_43c0_80d9_157b74dd0949</choiceReferences>
            <choiceReferences>S_b39269d0_d605_4bf1_9506_6ea1c9825505</choiceReferences>
            <choiceReferences>S_ef96bd33_349b_458a_97ac_024e9b64a2e9</choiceReferences>
            <choiceReferences>S_48338adf_fbfb_4f28_93ab_227a544b9e92</choiceReferences>
            <choiceReferences>S_844e7e72_a2dd_4788_aa04_95e3690e41f1</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;2 in 1 bib cock *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_426ac8ae_8983_4140_a6b2_012f4a0dfaf2</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(2 in 1 bib cock) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_98e6ccb2_749d_4508_a5fa_602343275777</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_844e7e72_a2dd_4788_aa04_95e3690e41f1</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_ec60708d_c229_42a0_85ff_8365fc928670</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;2 in 1 bib cock&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ab0e0f84_4a43_47d1_a157_22b8f23953f8</name>
        <label>Page 10</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_30bc1a88_0f01_4d29_9673_09e620c76797</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_acf975a0_8a35_4365_ad84_ae0dc525bf0c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;9. Please mention your approx. CP annual sales for each of the brands selected above&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt; (in lacs) &lt;i&gt;(e.g. Jaquar - x Lacs; Cera - y Lacs)&lt;/i&gt;&lt;/b&gt;&lt;b&gt; *&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d6f6dca6_ec3f_4c21_9b27_a8137ab989c3</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;10. Please mention the scheme details (for each of the brands selected above)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1b1f0560_922d_4702_813e_a11a203df0bf</name>
            <choiceReferences>c_f1e1b03c_da36_47bf_8362_75cc975d4af4</choiceReferences>
            <choiceReferences>c_f0e19674_dfa3_4073_aec8_6c9e9ce54a6e</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;11. Please mention the key decision maker for the CP product purchase *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7202ff0b_0f5f_46c8_9f48_ce69c265293e</name>
            <choiceReferences>c_700433d4_1285_4988_a60e_f584a9ee8061</choiceReferences>
            <choiceReferences>c_1b60b2a8_f045_4444_a9ca_3fd5c71b71f6</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;12. Does the architect/ plumbing consultant play any role in CP purchase decision&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ce2fa1b3_747f_4c67_b6e9_d469e4f283e6</name>
        <label>2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_059abae5_4dc3_46b8_9878_72437b002ce0</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_afbb0650_07f7_49b9_94f7_c9c27e9662f7</name>
            <choiceReferences>S_d06e380f_9a87_4ae9_81f8_696ad9906a56</choiceReferences>
            <choiceReferences>S_6ee8c418_9e93_4068_a499_764049fa0fd5</choiceReferences>
            <choiceReferences>S_69da9dde_7559_4fa3_8ab7_260dd9de35e5</choiceReferences>
            <choiceReferences>S_31222798_fbad_4c02_96cf_1d5de1cd830b</choiceReferences>
            <choiceReferences>S_a0bd6695_105c_4de9_a3b6_a66626f9e494</choiceReferences>
            <choiceReferences>S_998fee56_3780_45ba_8a2c_b7401de237ef</choiceReferences>
            <choiceReferences>S_d5ebeda5_301c_410f_a536_5fd5107d8840</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Concealed diverter *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5f1d9dfe_6330_433a_ae00_7d3526a4441f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Concealed diverter) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_afbb0650_07f7_49b9_94f7_c9c27e9662f7</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_d5ebeda5_301c_410f_a536_5fd5107d8840</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_436690d4_8beb_4bed_ab4f_4acc74cd2f87</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Concealed diverter for the brand you selected)&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d41821af_4f7f_4a17_a150_157d5a5b5a2e</name>
            <choiceReferences>c_f76c73d5_8dc0_4980_9981_180afd5ad9a9</choiceReferences>
            <choiceReferences>c_9ee52769_cf63_48ba_8ba0_04d4e0309054</choiceReferences>
            <choiceReferences>c_8d71b874_24fd_4620_bd85_e45de4433bb8</choiceReferences>
            <choiceReferences>c_a4569e12_6819_4542_93a3_f47fcf903e70</choiceReferences>
            <choiceReferences>c_841baaf8_e198_4f61_9987_9263bd10c4aa</choiceReferences>
            <choiceReferences>c_ceefaec3_a785_4d9a_a90a_155ea98eda5b</choiceReferences>
            <choiceReferences>c_1025aac9_766a_4cac_8cb3_c42124269d6d</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Angle valve *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_abf8dd19_ec1a_4daf_b781_cc0e3dc4009f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Angle valve) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_d41821af_4f7f_4a17_a150_157d5a5b5a2e</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_1025aac9_766a_4cac_8cb3_c42124269d6d</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_11daffca_a403_43cf_9170_9002c4922ac1</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;Angle valve for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_e1cbd2b9_f2c1_4bdf_9a6d_6757a30ffef9</name>
        <label>9</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_ab0e0f84_4a43_47d1_a157_22b8f23953f8</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1a2a3c83_6401_42bd_9870_662ef0e22e4d</name>
            <choiceReferences>c_8a368a67_1fd8_400d_b3f3_4087f5099772</choiceReferences>
            <choiceReferences>c_049b8e42_4bdf_41fc_9664_eb99ede9fc06</choiceReferences>
            <choiceReferences>c_1513a234_efff_4cce_9259_b80740aa5ac9</choiceReferences>
            <choiceReferences>c_8dee2ac2_dd91_4d36_b9ab_be1b64de2e11</choiceReferences>
            <choiceReferences>c_15b91b81_8d2a_4cf5_b695_5be4b4ae6ba8</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;8. Please rank the factor most important for you to stock the brand&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;i style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;(5 - most important; 1 - least important)&lt;/i&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Market demand *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_3098b2ff_5289_48a6_8ae1_e0b1aa90b1dc</name>
            <choiceReferences>c_4f845127_9895_44c2_8826_fbd35de38bcf</choiceReferences>
            <choiceReferences>c_a1bd807a_a30f_4129_b1b6_36552dcc0e45</choiceReferences>
            <choiceReferences>c_7e6d49fb_0e79_439a_94d2_d0bb55f6f186</choiceReferences>
            <choiceReferences>c_26db81d6_98db_472c_a555_d3b3a02db23d</choiceReferences>
            <choiceReferences>c_3b8012bc_ec1c_4ebe_bdcc_719f58834d53</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Margin/ Scheme *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_9005063d_2e32_4ff9_a7e3_503db65de498</name>
            <choiceReferences>c_9d3820b4_4d8d_4a1a_ab2a_9a435e3e4cee</choiceReferences>
            <choiceReferences>c_ae840312_ada8_4246_95b2_215a310bb093</choiceReferences>
            <choiceReferences>c_5c88d18b_e484_4b96_b31d_8d467e8f1ac6</choiceReferences>
            <choiceReferences>c_6753e286_2142_4361_8b88_dccd62546d24</choiceReferences>
            <choiceReferences>c_e125494e_8934_4b05_9f03_829daa63b84a</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Avilability of stock *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_6fa1597e_8d25_48b5_bff5_5c74706a2c89</name>
            <choiceReferences>c_94b6d806_fdcd_45c4_9d58_22292f803718</choiceReferences>
            <choiceReferences>c_3fc34585_cace_4e4d_845b_b005380492c1</choiceReferences>
            <choiceReferences>c_f08212eb_7edd_4a9a_a623_abd1be8960cf</choiceReferences>
            <choiceReferences>c_a8e6d213_cb4d_4a85_8e10_0372351da7d0</choiceReferences>
            <choiceReferences>c_1b805ba8_0339_4d29_9d49_b6f4f5a0b7ed</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Service response/ TAT *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_133c4900_958e_464c_90eb_99abb61ab932</name>
            <choiceReferences>c_449d0eb8_484e_413f_a278_68dbfd4604c2</choiceReferences>
            <choiceReferences>c_4db0c2e9_6f6f_4ca0_95d1_c71eb7194aeb</choiceReferences>
            <choiceReferences>c_ba3db267_d022_49f0_8bc0_3e0e9a55ce95</choiceReferences>
            <choiceReferences>c_78e6faee_8df0_41f9_af82_473ae2153a78</choiceReferences>
            <choiceReferences>c_7d4ea9e5_f687_4c75_b307_5e274a880064</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Product warranty *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e4347068_4c3d_4b78_9ff3_09c26e3466a4</name>
            <choiceReferences>c_6b7f478e_948e_4d2c_b459_b134f8c16f17</choiceReferences>
            <choiceReferences>c_52057717_d242_4057_ace6_5c434013e060</choiceReferences>
            <choiceReferences>c_1fc5e8ae_5333_4cfe_b61f_450e823f91e6</choiceReferences>
            <choiceReferences>c_3e85eaf0_95d5_43a4_9ded_e5bce543eb61</choiceReferences>
            <choiceReferences>c_3edf7397_420b_48ac_9ed5_a08e321d32f3</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;Availability of spares *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_e08eeaf2_2240_48dc_99d5_0cdaed0642fe</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;If there is any other key factor, please mention the same&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_f6b3abf8_1cc0_411b_beb6_8b36be09c30a</name>
        <label>8</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_e1cbd2b9_f2c1_4bdf_9a6d_6757a30ffef9</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_36fd3400_8295_414d_b91a_ca6a943e4faa</name>
            <choiceReferences>S_6c682bf1_145b_43e7_84e3_c2e397f56fb2</choiceReferences>
            <choiceReferences>S_f162cd7f_2174_4ab9_a50a_bd5aba7fefaa</choiceReferences>
            <choiceReferences>S_ccaee5a5_3e5c_4b92_aed4_690f2e91bcff</choiceReferences>
            <choiceReferences>S_2d15cdb1_79a0_4203_93bf_fceee521879a</choiceReferences>
            <choiceReferences>S_c0e2df98_d96c_4322_901c_91d8435c3ec7</choiceReferences>
            <choiceReferences>S_04eed826_25bc_43dc_aac5_3c0dd1df397c</choiceReferences>
            <choiceReferences>S_41596b59_7a2c_49eb_b792_b1f06965f140</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Hand shower *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c69f2854_bea2_4678_a0a4_cc8fb390e543</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;If selected &apos;Other&apos;, please mention the brand&lt;/b&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Hand shower) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_36fd3400_8295_414d_b91a_ca6a943e4faa</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_41596b59_7a2c_49eb_b792_b1f06965f140</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7b5c7d3d_45c4_44fc_a83c_2e4bfaa6535f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;Hand shower&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d92291c1_aef9_41e1_9fb5_86bd88389b7f</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 16px;&quot;&gt;6.Please mention what percentage of your total sale is from CP fittings &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 16px;&quot;&gt;(share of wallet) &lt;i&gt;(e.g. 50%, 40% etc.) *&lt;/i&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_199f8e07_9418_4a8c_8997_e260f463a99f</name>
            <choiceReferences>c_605ee4d7_4736_4083_b5ac_72da126248a5</choiceReferences>
            <choiceReferences>c_c4e8b5be_e8d5_4034_8094_5f1837a94836</choiceReferences>
            <choiceReferences>c_9dd7d71d_ac53_4121_a230_5cdb394c9858</choiceReferences>
            <choiceReferences>c_add658f1_9a42_4a9e_b6ff_1e51c6f9959d</choiceReferences>
            <choiceReferences>c_c6281878_8b9f_4343_bf63_e37deddbfd90</choiceReferences>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 16px;&quot;&gt;7. Please select the CP brands you sell through your shop *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_5d7c52e5_9850_4968_878a_310f2823d21c</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 17px;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;CP brands) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>MultiChoice</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_199f8e07_9418_4a8c_8997_e260f463a99f</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_c6281878_8b9f_4343_bf63_e37deddbfd90</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_ffff4365_f146_4b80_8d19_87ddd65aa5ff</name>
        <label>5</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_6e6177d9_39bd_4149_abd0_27701a1b6de2</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_b9c9204b_eb44_469d_b178_e84fe0af3b2a</name>
            <choiceReferences>S_b5dd9d7a_8b64_4a08_912b_48d99ce7f2ff</choiceReferences>
            <choiceReferences>S_66dfd17c_3b5e_4aeb_b9e5_bfff4e85072e</choiceReferences>
            <choiceReferences>S_4eef6ba1_126a_4c47_bbd3_d0b9ad0b9ca8</choiceReferences>
            <choiceReferences>S_35b32689_6496_4c02_957a_878b024247ec</choiceReferences>
            <choiceReferences>S_532a711e_3238_41d8_97f9_860b2cd3bfba</choiceReferences>
            <choiceReferences>S_a9abf585_9a98_4d2a_a496_5077265acc10</choiceReferences>
            <choiceReferences>S_1cba5bcb_df9a_4026_af67_c4cddc9ee589</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b&gt;Waste pipe *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_35dd9e90_e303_444c_bb3d_afc3eb4cb8ed</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Waste pipe) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_b9c9204b_eb44_469d_b178_e84fe0af3b2a</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>S_1cba5bcb_df9a_4026_af67_c4cddc9ee589</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_92ab5706_9b7f_4d95_8eba_58bfe6e08eaa</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(Waste pipe&lt;/b&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt; for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_dd14ac52_f7ab_4390_b367_99fefa30dc3b</name>
            <choiceReferences>c_8474d949_0930_46c8_96c7_448da7535c95</choiceReferences>
            <choiceReferences>c_8161ea8b_54e6_434a_b61e_26ea35329d80</choiceReferences>
            <choiceReferences>c_91fd2138_ab87_4519_bc2e_faf1a65b7237</choiceReferences>
            <choiceReferences>c_bbd4c68f_8ac5_4d0a_b434_bf8bf7457ec3</choiceReferences>
            <choiceReferences>c_331e935e_997a_473e_9855_28f44478aa64</choiceReferences>
            <choiceReferences>c_f6afb877_4da0_4492_9e81_978a4444c80e</choiceReferences>
            <choiceReferences>c_d3a9692c_4bab_4a85_9f38_ec6589dd5e43</choiceReferences>
            <dataType>String</dataType>
            <extensionName>survey:runtimeRadioButton</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif; font-size: 14px;&quot;&gt;5. Please select the brand most in demand for the following products&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Concealed cistern *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_c4ef221d_8c4b_4686_81b3_0a0ffd9b0dff</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt;If selected &apos;Other&apos;, please mention the brand(&lt;/b&gt;&lt;b&gt;Concealed cistern) *&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>RadioButton</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>String</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_dd14ac52_f7ab_4390_b367_99fefa30dc3b</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>c_d3a9692c_4bab_4a85_9f38_ec6589dd5e43</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_1b9a7f75_53e0_4247_8698_3c653069c1f5</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Please mention the most selling SKU and model no.(Concealed cistern&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: wf_segoe-ui_normal, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe WP&amp;quot;, Tahoma, Arial, sans-serif;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: Calibri, sans-serif;&quot;&gt;for the brand you selected)&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_938199f7_d533_479f_8f3a_e909e2c98afe</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 24px; font-family: tahoma;&quot;&gt;Thanks for filling the CP products market survey.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://appl-ashirvadpipes--c.na45.content.force.com/servlet/rtaImage?refid=0EM3A0000023lQ5&quot; alt=&quot;image.png&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
</Flow>
