Partial_14Dec2021/force-app/main/default/flows/FSL_Update_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>FSL_Update_Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Update_Details</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Get_Service_Appointment_Details</name>
        <label>Get Service Appointment Details</label>
        <locationX>200</locationX>
        <locationY>220</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Basic_Details_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointment</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_App</name>
        <label>Update Service App</label>
        <locationX>632</locationX>
        <locationY>419</locationY>
        <inputReference>ServiceAppointment</inputReference>
    </recordUpdates>
    <screens>
        <name>Basic_Details_Screen</name>
        <label>Basic Details Screen</label>
        <locationX>358</locationX>
        <locationY>375</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Service_App</targetReference>
        </connector>
        <fields>
            <name>BeforeWorkPhotos</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Before Work Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Comments</name>
            <defaultValue>
                <stringValue>{!ServiceAppointment.ServiceNote}</stringValue>
            </defaultValue>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Get_Service_Appointment_Details</startElementReference>
    <status>Active</status>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
</Flow>
