Partial_14Dec2021/force-app/main/default/flows/FSL_Check_In_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>TXterrr</name>
        <label>TXterrr</label>
        <locationX>529</locationX>
        <locationY>636</locationY>
        <assignmentItems>
            <assignToReference>TxtError</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please click a selfie !!!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_in_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_status_In_progress</name>
        <label>Update status In progress</label>
        <locationX>793</locationX>
        <locationY>377</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointments.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Service_Appointments</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_for_File_Uploaded</name>
        <label>Check for File Uploaded</label>
        <locationX>708</locationX>
        <locationY>635</locationY>
        <defaultConnector>
            <targetReference>TXterrr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ValidCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EachLoop</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_status_In_progress</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_status</name>
        <label>Check for status</label>
        <locationX>517</locationX>
        <locationY>257</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointments.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dispatched</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_in_Screen</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <interviewLabel>FSL_Check In 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Check In 1</label>
    <loops>
        <name>Loop_Files</name>
        <label>Loop Files</label>
        <locationX>560</locationX>
        <locationY>394</locationY>
        <assignNextValueToReference>EachLoop</assignNextValueToReference>
        <collectionReference>UploadedFileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_File_Uploaded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_File_Uploaded</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>Service_Appointments</name>
        <label>Service Appointments</label>
        <locationX>213</locationX>
        <locationY>191</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Service_Appointments</name>
        <label>Update Service Appointments</label>
        <locationX>1062</locationX>
        <locationY>438</locationY>
        <inputReference>ServiceAppointments</inputReference>
    </recordUpdates>
    <screens>
        <name>Check_in_Screen</name>
        <label>Check in Screen</label>
        <locationX>271</locationX>
        <locationY>450</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Files</targetReference>
        </connector>
        <fields>
            <name>UploadSelfie</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Click Selfie</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fileNames</name>
                <value>
                    <elementReference>UploadedFileNames</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!TxtError}&lt;/p&gt;&lt;p&gt;{!UploadedFileNames}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>778</locationX>
        <locationY>190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 103, 63); font-size: 16px;&quot;&gt;ERROR : Service Appointment is already &lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(215, 103, 63); font-size: 16px;&quot;&gt;{!ServiceAppointments.Status}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Service_Appointments</startElementReference>
    <status>Active</status>
    <variables>
        <name>EachLoop</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>TxtError</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Txtlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>txtxt</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UploadedFiles</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
