Partial_14Dec2021/force-app/main/default/flows/FSL_CheckOut_3.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <assignments>
        <name>Assignerr</name>
        <label>Assignerr</label>
        <locationX>1487</locationX>
        <locationY>1080</locationY>
        <assignmentItems>
            <assignToReference>errmsgx</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please take post pictures!!!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Out_File_Upload</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Swrv</name>
        <label>Change Service app status</label>
        <locationX>2057</locationX>
        <locationY>714</locationY>
        <assignmentItems>
            <assignToReference>ServiceAppointments.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Work_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>error</name>
        <label>error</label>
        <locationX>1872</locationX>
        <locationY>729</locationY>
        <assignmentItems>
            <assignToReference>ErrorMsg</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Please enter a valid code !!!</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Details</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AcceptedFileType</name>
        <choiceText>.jpg,.pdf,.csv</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CanceledStatus</name>
        <choiceText>Canceled</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Canceled</stringValue>
        </value>
    </choices>
    <choices>
        <name>CompletedStatus</name>
        <choiceText>Completed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </choices>
    <choices>
        <name>ConnotCompleteStatus</name>
        <choiceText>Cannot Complete</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cannot Complete</stringValue>
        </value>
    </choices>
    <choices>
        <name>WorkStatusValues</name>
        <choiceText>Completed &lt;p&gt;Cannot Complete&lt;/p&gt;&lt;p&gt;canceled&lt;/p&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_for_any_incomplete</name>
        <label>Check for any incomplete</label>
        <locationX>1157</locationX>
        <locationY>165</locationY>
        <defaultConnector>
            <targetReference>Loop_Woli</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Woli.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Woli.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cannot Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Each_Woli.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Woli_Error</targetReference>
            </connector>
            <label>Not complete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_Code</name>
        <label>Check for Code</label>
        <locationX>2053</locationX>
        <locationY>437</locationY>
        <defaultConnector>
            <targetReference>Change_Swrv</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Invalid_code</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WorkOrders.Closure_Code__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Enter_closure_code</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>error</targetReference>
            </connector>
            <label>Invalid code</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_for_err</name>
        <label>Check for err</label>
        <locationX>1633</locationX>
        <locationY>1021</locationY>
        <defaultConnector>
            <targetReference>Assignerr</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Validerr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>eachFile</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>.</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Work_Order</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_for_error</name>
        <label>check for error</label>
        <locationX>691</locationX>
        <locationY>387</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceAppointments.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Progress</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Work_order_line_items</targetReference>
            </connector>
            <label>valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Details_for_angle_valve</name>
        <label>Details for angle valve</label>
        <locationX>254</locationX>
        <locationY>791</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>details_needed_Angle_valve</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssueForAngle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Installation ( Give Details in write up)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboutIssueForAngle</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_for_Angle</targetReference>
            </connector>
            <label>details needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Details_For_diverter</name>
        <label>Details For diverter</label>
        <locationX>774</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Details_needed_Diverter</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssuefordiverter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Installation ( Give Details in write up)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboutIssuefordiverter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_Diverter_1</targetReference>
            </connector>
            <label>Details needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Details_for_Flush</name>
        <label>Details for Flush</label>
        <locationX>420</locationX>
        <locationY>809</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Details_needed_Flush</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssueFlush</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Installation ( Give Details in write up)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboutIssueFlush</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Details_for_Flush_valve</targetReference>
            </connector>
            <label>Details needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Details_for_water_tank</name>
        <label>Details for water tank</label>
        <locationX>50</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Details_needed_water_tank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssueWater</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Water_tank_Details</targetReference>
            </connector>
            <label>Details needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncaseOfCreationOfWarranty</name>
        <label>IncaseOfCreationOfWarranty</label>
        <locationX>2707</locationX>
        <locationY>439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_Warranty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Below_Details</targetReference>
            </connector>
            <label>Create Warranty</label>
        </rules>
        <rules>
            <name>Donot_Create_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_want_to_Create_Warranty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ForEachLineItems</targetReference>
            </connector>
            <label>Donot Create Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>IncaseofWarranty</name>
        <label>IncaseofWarranty</label>
        <locationX>2486</locationX>
        <locationY>204</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>With_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_Warranty_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Upload_Warranty_Card</targetReference>
            </connector>
            <label>With Warranty</label>
        </rules>
        <rules>
            <name>Without_Warranty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Do_you_have_Warranty_Card</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warranty_Creation</targetReference>
            </connector>
            <label>Without Warranty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Details_Needed</name>
        <label>Is Details  Needed?</label>
        <locationX>599</locationX>
        <locationY>851</locationY>
        <defaultConnector>
            <targetReference>Update_WorkOrder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Details_needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssueforConcealed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Installation ( Give Details in write up)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboutIssueforConcealed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Others (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DetailsforWrongInstallation</targetReference>
            </connector>
            <label>Details needed</label>
        </rules>
        <rules>
            <name>Details_Not_Needed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AboutIssueforConcealed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Wrong Installation ( Give Details in write up)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AboutIssueforConcealed</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Others (Give details)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_WorkOrder</targetReference>
            </connector>
            <label>Details Not Needed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Screen_decision_for_concealed</name>
        <label>Screen decision for concealed</label>
        <locationX>894</locationX>
        <locationY>514</locationY>
        <defaultConnector>
            <targetReference>LoopForWorkOrderLineItem</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Product_family_concealed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concealed Valve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_Detailss</targetReference>
            </connector>
            <label>Product family concealed</label>
        </rules>
        <rules>
            <name>Productfamilyflushh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Flush Valve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flush_Valve</targetReference>
            </connector>
            <label>Productfamilyflushh</label>
        </rules>
        <rules>
            <name>ProductFamilyDiverter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Concealed Diverter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Concealed_Diverter</targetReference>
            </connector>
            <label>ProductFamilyDiverter</label>
        </rules>
        <rules>
            <name>ProductFamilyWaterTank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Water Tanks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>water_tank</targetReference>
            </connector>
            <label>ProductFamilyWaterTank</label>
        </rules>
        <rules>
            <name>ProductFamilyAngle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Angle Valve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Angle_valve</targetReference>
            </connector>
            <label>ProductFamilyAngle</label>
        </rules>
        <rules>
            <name>Diverter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Each_Woli.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>concealed</stringValue>
                </rightValue>
            </conditions>
            <label>Diverter</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AboutIssue</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue_for_Diverter__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutIssueFlush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue_for_Flush_Valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutIssueForAngle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutIssueforConcealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue_for_Concealed__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutIssuefordiverter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue_for_Diverter__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutIssueWater</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue_for_Water_Tank__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AboutProduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_for__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Aboutproductanglevalve</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_for_Angle_valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Aboutproductflushvalve</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_for_Flush_Valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Aboutproductforconcealeddiverter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_for__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>aboutproductwatertank</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_water_tank__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Body_Angle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Body_Flush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_For_Flush_Valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Body_for_product</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BodyConcealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Product_For_Concealed_Valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BodyForAngle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bodyforflush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Body_For_Flush_Valve__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Capacity_Water</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Capacity_for_Water__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>color</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Color__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Color_water</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Color__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Design</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Design_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Design_Angle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Design_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoYouhaveWarrantyCard</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_have_Warranty_Card__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DoYouWantToCreateWarranty</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Do_you_want_to_create_Warranty__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Issues_on_prod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>About_Issue__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Layer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Layer_for_Water__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Layer_water</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Layer_for_Water__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Length</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Length__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Lengthforconcealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Length_for_Concealed__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Picklist_typeofproduct</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Product__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Size</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Size_flush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size_for_Flush__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Size_for_concealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size_for_concealed__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>sizeforDiverter</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SizeforFlush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Size_for_Flush__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_Angle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type_of_prod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>WorkOrder</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeforAngle</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_for_Angle__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Typeforconcealed</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_for_concealed__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>WaterTankFlush</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Capacity_for_Water__c</picklistField>
        <picklistObject>WorkOrderLineItem</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>FSL_CheckOut_3 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CheckOut_3</label>
    <loops>
        <name>EachFiles</name>
        <label>EachFiles</label>
        <locationX>1473</locationX>
        <locationY>896</locationY>
        <assignNextValueToReference>eachFile</assignNextValueToReference>
        <collectionReference>UploadedFileNames</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_err</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_for_err</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>ForEachLineItems</name>
        <label>ForEachLineItems</label>
        <locationX>1959</locationX>
        <locationY>179</locationY>
        <assignNextValueToReference>Each_Woli</assignNextValueToReference>
        <collectionReference>WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Warranty_Card</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Details</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Woli</name>
        <label>Loop Woli</label>
        <locationX>1089</locationX>
        <locationY>369</locationY>
        <assignNextValueToReference>Each_Woli</assignNextValueToReference>
        <collectionReference>WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_for_any_incomplete</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>LoopForWorkOrderLineItem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopForWorkOrderLineItem</name>
        <label>LoopForWorkOrderLineItem</label>
        <locationX>1404</locationX>
        <locationY>381</locationY>
        <assignNextValueToReference>Each_Woli</assignNextValueToReference>
        <collectionReference>WorkOrderLineItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Screen_decision_for_concealed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_Out_File_Upload</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Asset</name>
        <label>Create Asset</label>
        <locationX>2419</locationX>
        <locationY>791</locationY>
        <assignRecordIdToReference>AssetRecordId.Id</assignRecordIdToReference>
        <connector>
            <targetReference>ForEachLineItems</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>WorkOrders.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SerialNumber</field>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Order_Line_Item__c</field>
            <value>
                <elementReference>Each_Woli.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Asset</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Service_Appointments</name>
        <label>Get Service Appointments</label>
        <locationX>711</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_for_error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>ServiceAppointment</object>
        <outputReference>ServiceAppointments</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>ServiceNote</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Work_Order</name>
        <label>Get Work Order</label>
        <locationX>1535</locationX>
        <locationY>369</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetWorkOrderLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputReference>WorkOrders</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CaseId</queriedFields>
        <queriedFields>Closure_Code__c</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>get_Work_order_line_items</name>
        <label>get Work order line items</label>
        <locationX>942</locationX>
        <locationY>356</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Woli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>Product_Family__c</queriedFields>
        <queriedFields>About_Correction__c</queriedFields>
        <queriedFields>About_Correction_for__c</queriedFields>
        <queriedFields>About_Correction_for_Angle_valve__c</queriedFields>
        <queriedFields>About_Correction_for_water_tank__c</queriedFields>
        <queriedFields>About_correction_for_diverter__c</queriedFields>
        <queriedFields>Details__c</queriedFields>
        <queriedFields>Details_for_Angle_valve__c</queriedFields>
        <queriedFields>Details_for_Diverter__c</queriedFields>
        <queriedFields>Details_for_Flash_valve__c</queriedFields>
        <queriedFields>Details_for_Water_Tank__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetWorkOrderLineItems</name>
        <label>GetWorkOrderLineItems</label>
        <locationX>1751</locationX>
        <locationY>188</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ForEachLineItems</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WorkOrderLineItems</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_SA</name>
        <label>Update SA</label>
        <locationX>2064</locationX>
        <locationY>890</locationY>
        <inputReference>ServiceAppointments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_WorkOrder</name>
        <label>Update WorkOrder</label>
        <locationX>1766</locationX>
        <locationY>1383</locationY>
        <connector>
            <targetReference>Loop_Woli</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Each_Woli.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>About_Correction__c</field>
            <value>
                <elementReference>About_Correction_concealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Correction_for_Angle_valve__c</field>
            <value>
                <elementReference>About_Correction_Angle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Issue__c</field>
            <value>
                <elementReference>about_issue_angle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Issue_for_Concealed__c</field>
            <value>
                <elementReference>About_Issue_Concealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Issue_for_Diverter__c</field>
            <value>
                <elementReference>About_Issue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Issue_for_Flush_Valve__c</field>
            <value>
                <elementReference>About_Issue_Flush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Issue_for_Water_Tank__c</field>
            <value>
                <elementReference>about_issue_water</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Product_For_Concealed_Valve__c</field>
            <value>
                <elementReference>Body_for_concealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Product_for__c</field>
            <value>
                <elementReference>About_product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_Product_water_tank__c</field>
            <value>
                <elementReference>About_Correction_water</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>About_correction_for_diverter__c</field>
            <value>
                <elementReference>About_Correction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body_For_Flush_Valve__c</field>
            <value>
                <elementReference>Body_Flush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Body_for_Angle__c</field>
            <value>
                <elementReference>Body_Angle_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Capacity_for_Water__c</field>
            <value>
                <elementReference>Capacity_Water_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>Color_water_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Design_for_Angle__c</field>
            <value>
                <elementReference>Design_Angle_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details__c</field>
            <value>
                <elementReference>Detail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_for_Diverter__c</field>
            <value>
                <elementReference>Details_Diverter</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_for_Flash_valve__c</field>
            <value>
                <elementReference>details_Flush</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Details_for_Water_Tank__c</field>
            <value>
                <elementReference>Details_for_water</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Layer_for_Water__c</field>
            <value>
                <elementReference>Layer_water_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size_for_Flush__c</field>
            <value>
                <elementReference>Size_Flush_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Size_for_concealed__c</field>
            <value>
                <elementReference>Size_for_concealed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_for_Angle__c</field>
            <value>
                <elementReference>Type_Angle_2</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>Angle_valve</name>
        <label>Angle valve</label>
        <locationX>233</locationX>
        <locationY>563</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_for_angle_valve</targetReference>
        </connector>
        <fields>
            <name>Body_Angle_3</name>
            <choiceReferences>Body_Angle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Body</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_Angle_2</name>
            <choiceReferences>Type_Angle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Design_Angle_1</name>
            <choiceReferences>Design_Angle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Design</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>about_issue_angle</name>
            <choiceReferences>AboutIssueForAngle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>about issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Correction_Angle</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.About_Correction_for_Angle_valve__c</elementReference>
            </defaultValue>
            <fieldText>About Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Out_File_Upload</name>
        <label>Check Out File Upload</label>
        <locationX>1348</locationX>
        <locationY>919</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EachFiles</targetReference>
        </connector>
        <fields>
            <name>CheckOutFileUpload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>After Work Photos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>WorkOrders.Id</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedFileNames</assignToReference>
                <name>fileNames</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;{!errmsgx}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Comment</name>
            <defaultValue>
                <stringValue>{!ServiceAppointments.ServiceNote}</stringValue>
            </defaultValue>
            <fieldText>Comment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Concealed_Diverter</name>
        <label>Concealed Diverter</label>
        <locationX>761</locationX>
        <locationY>723</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_For_diverter</targetReference>
        </connector>
        <fields>
            <name>About_product</name>
            <choiceReferences>Aboutproductforconcealeddiverter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>About product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Issue</name>
            <choiceReferences>AboutIssuefordiverter</choiceReferences>
            <dataType>String</dataType>
            <fieldText>About Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Correction</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.About_correction_for_diverter__c</elementReference>
            </defaultValue>
            <fieldText>About Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_Diverter_1</name>
        <label>Detail diverter</label>
        <locationX>775</locationX>
        <locationY>1088</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>helpdesk</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please Fill the Details as you selected Wrong Installation for issue for Diverter&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_Diverter</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.Details_for_Diverter__c</elementReference>
            </defaultValue>
            <fieldText>Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_for_Angle</name>
        <label>Details for Angle valve</label>
        <locationX>241</locationX>
        <locationY>1015</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>Helpdesk_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please Fill the Details as you selected  Wrong Installation for issue for Angle Valve.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_for_Angle_valve_1</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.Details__c</elementReference>
            </defaultValue>
            <fieldText>Details for Angle</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Details_for_Flush_valve</name>
        <label>Details for Flush</label>
        <locationX>416</locationX>
        <locationY>981</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>Details_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Please Fill the Details as you selected Wrong Installation for issue for Flush Valve&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>details_Flush</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.Details_for_Flash_valve__c</elementReference>
            </defaultValue>
            <fieldText>Details</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DetailsforWrongInstallation</name>
        <label>Details for Concealed valve</label>
        <locationX>605</locationX>
        <locationY>1036</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>HelpText</name>
            <fieldText>&lt;p&gt;Please Fill the Details as you selected  Wrong Installation for issue for concealed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Detail</name>
            <defaultValue>
                <stringValue>{!Each_Woli.Details__c}</stringValue>
            </defaultValue>
            <fieldText>Details</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Below_Details</name>
        <label>Enter Below Details</label>
        <locationX>2648</locationX>
        <locationY>691</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Asset</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Name</elementReference>
            </defaultValue>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>SerialNumber</elementReference>
            </defaultValue>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>353</locationX>
        <locationY>399</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMsgg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(234, 50, 50);&quot;&gt;ERROR : Service Appointment is already &lt;/span&gt;&lt;b style=&quot;font-size: 16px; color: rgb(234, 50, 50);&quot;&gt;{!ServiceAppointments.Status}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Flush_Valve</name>
        <label>Flush Valve</label>
        <locationX>404</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_for_Flush</targetReference>
        </connector>
        <fields>
            <name>Body_flush_2</name>
            <choiceReferences>Body_Flush</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Body</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Size_Flush_1</name>
            <choiceReferences>Size_flush</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Issue_Flush</name>
            <choiceReferences>AboutIssueFlush</choiceReferences>
            <dataType>String</dataType>
            <fieldText>About Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Correction_flushv</name>
            <defaultValue>
                <stringValue>{!Each_Woli.About_Correction_for__c}</stringValue>
            </defaultValue>
            <fieldText>About Correction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Get_Details</name>
        <label>Get Details</label>
        <locationX>1772</locationX>
        <locationY>477</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Check_for_Code</targetReference>
        </connector>
        <fields>
            <name>Enter_closure_code</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ClosureCode</elementReference>
            </defaultValue>
            <fieldText>Enter closure code</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Wrong closure code !!!&lt;/p&gt;</errorMessage>
                <formulaExpression>true</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(224, 79, 79);&quot;&gt;{!ErrorMsg}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Work_Status</name>
            <choiceReferences>CompletedStatus</choiceReferences>
            <choiceReferences>ConnotCompleteStatus</choiceReferences>
            <choiceReferences>CanceledStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>CompletedStatus</defaultSelectedChoiceReference>
            <fieldText>Work Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Product_Detailss</name>
        <label>Product Details for Concealed Valve</label>
        <locationX>563</locationX>
        <locationY>662</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Details_Needed</targetReference>
        </connector>
        <fields>
            <name>Body_for_concealed</name>
            <choiceReferences>BodyConcealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Body</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type_for_Concealed</name>
            <choiceReferences>Typeforconcealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Length_for_concealed</name>
            <choiceReferences>Lengthforconcealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Length</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Size_for_concealed_valve</name>
            <choiceReferences>Size_for_concealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Issue_Concealed</name>
            <choiceReferences>AboutIssueforConcealed</choiceReferences>
            <dataType>String</dataType>
            <fieldText>About Issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Correction_concealed</name>
            <defaultValue>
                <stringValue>{!Each_Woli.About_Correction__c}</stringValue>
            </defaultValue>
            <fieldText>About Correction</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Upload_Warranty_Card</name>
        <label>Upload Warranty Card</label>
        <locationX>2486</locationX>
        <locationY>410</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ForEachLineItems</targetReference>
        </connector>
        <fields>
            <name>WarrantyCard</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Each_Woli.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Warranty Card</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warranty_Card</name>
        <label>Warranty Card</label>
        <locationX>2268</locationX>
        <locationY>132</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IncaseofWarranty</targetReference>
        </connector>
        <fields>
            <name>Do_you_have_Warranty_Card</name>
            <choiceReferences>DoYouhaveWarrantyCard</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you have Warranty Card?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warranty_Creation</name>
        <label>Warranty Creation</label>
        <locationX>2689</locationX>
        <locationY>288</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IncaseOfCreationOfWarranty</targetReference>
        </connector>
        <fields>
            <name>Do_you_want_to_Create_Warranty</name>
            <choiceReferences>DoYouWantToCreateWarranty</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Do you want to Create Warranty</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>water_tank</name>
        <label>water tank</label>
        <locationX>69</locationX>
        <locationY>503</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Details_for_water_tank</targetReference>
        </connector>
        <fields>
            <name>Capacity_Water_3</name>
            <choiceReferences>Capacity_Water</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Capacity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Layer_water_2</name>
            <choiceReferences>Layer_water</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Layer</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Color_water_1</name>
            <choiceReferences>Color_water</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Color</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>about_issue_water</name>
            <choiceReferences>AboutIssueWater</choiceReferences>
            <dataType>String</dataType>
            <fieldText>about issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>About_Correction_water</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.About_Issue_for_Water_Tank__c</elementReference>
            </defaultValue>
            <fieldText>About Correction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Water_tank_Details</name>
        <label>Water tank Details</label>
        <locationX>59</locationX>
        <locationY>920</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_WorkOrder</targetReference>
        </connector>
        <fields>
            <name>helpdesk_2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Please Fill the Details as you selected  Wrong Installation for issue for Water Tank&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Details_for_water</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Each_Woli.Details__c</elementReference>
            </defaultValue>
            <fieldText>Details for water</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Woli_Error</name>
        <label>Woli Error</label>
        <locationX>1391</locationX>
        <locationY>150</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Woli_err</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(237, 84, 84); font-size: 16px;&quot;&gt;Please complete the work order line items before Check Out&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>662</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Service_Appointments</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssetName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssetRecordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Asset</objectType>
    </variables>
    <variables>
        <name>Case</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseLevelClosureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClosureCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Completed</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
    <variables>
        <name>CompleteStatus</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Details</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Each_Woli</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>eachFile</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>EachLineItemId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>errmsgx</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ErrorMsg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Label_forproduct</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productfamily</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Productfamilys</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SerialNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceAppointments</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>UploadedFileNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WorkOrderLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WorkOrders</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
</Flow>
